{% extends 'base.html' %}
{% block title %}utilities{% endblock %}
{% block body %}
    <h1>UTILITIES</h1>
    <a href="/utilities/bye">우리 헤어지는 시간까지..</a><br>
    <a href="/utilities/graduation">우리 1학기 졸업시간까지 남은 날짜</a><br>
    <a href="/utilities/imagepick/">랜덤 이미지 출력</a><br>
    <a href="/utilities/today/">현재 시간 및 날씨 정보</a><br>
    <a href="/utilities/ascii_new/">ascii art를 변환</a><br>
    <a href="/utilities/original/">한국어를 영어로 번역</a><br>
    <!--<a href="/utilities/translated/">papago로 한국어를 영어로 번역</a><br>-->
{% endblock %}
